@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .pixelated{
        image-rendering: pixelated;
    }
}

body{
    overflow-y: scroll;
}

@layer base {
    @font-face {
        font-family: 'Minecraft';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/MinecraftMono.otf) format('opentype');
    }
    .bg-dither{
        background-image: url("/ui/bg_dark.png");
        image-rendering: pixelated;
        background-size: 16px;
    }
    .mc-gold{
        border-image: url("/ui/border_gold.png") 3 fill;
        border-width: 6px;
        image-rendering: pixelated;
    }
    .mc-gray{
        border-image: url("/ui/border_gray.png") 3;
        background-color: #c6c6c6;
        border-width: 6px;
        image-rendering: pixelated;

    }
    .mc-dark{
        border-image: url("/ui/border_dark.png") 3 fill;
        border-width: 6px;
        image-rendering: pixelated;

    }
    .mc-input{
        border-image: url("/ui/border_text_input.png") 4 fill;
        border-width: 8px;
        image-rendering: pixelated;
    }
    .mc-button{
        border-image: url("/ui/border_button.png") 2;
        background-color: #747474;
        border-width: 4px;
        image-rendering: pixelated;
    }
    .mc-info{
        border-image: url("/ui/border_info.png") 4 fill;
        border-width: 8px;
    }
    @keyframes train-move {
        from{
            right: 100vw;
        }
        to{
            right: -100vw;
        }
    }
    .train-move{
        animation-name: train-move;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 10s;
        animation-fill-mode: backwards;
    }
}

:root{
    @apply bg-sky
}